


@media only screen and (max-width: 480px) {
    .parent-container {
        text-align: center;
    }
    .main-container .ocube-navbar:first-child {
      display: none;
    }
    div.mobile-navbar {
        display: flex;
      }
    .text-container h1 {
      font-size: 2rem;
      /* color: blue; */
    }
    .main-container {
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    .main-container p {
      display: block;
      font-size: 15px;
    }
    .image-container {
      padding-top: 1rem;
    }
    .image-container img {
      width: 100%;
      height: 100%;
    }
    .lecture-container {
      display: block;
    }
    .lecture-images {
      padding: 1rem;
    }
    .lecture-images img {
      height: auto;
      width: auto;
      padding: 1rem;
    }
    .tutor-container {
      width: auto;
      height: auto;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    .txt-container h1 {
      font-size: 2rem;
    }
    .txt-container {
      display: block;
      width: 100%;
      font-size: 2rem;
      padding: 1rem 0;
    }
    .txt-container p {
      display: block;
    }
    .tutor-image {
      width: auto;
      height: auto;
      display: flex;
      justify-content: center;
      align-items: center;
      padding-bottom: 1rem;
    }
    .tutor-image img {
      width: 85%;
    }
    .experience-container {
      padding: 0;
    }
    .experience-container h1 {
      padding-top: 1rem;
      font-size: 2rem;
    }
    .vector-images {
      display: grid;
      grid-template-columns: 0fr 0fr;
      padding-left: 2rem;
    }
    .vector-images div {
      width: 140px;
      height: 120px;
      margin-bottom: 1rem;
    }
    .information-container {
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }
    .txt-container {
      width: 100%;
      height: 50%;
      display: block;
      padding-top: 1.5rem;
    }
    .info-img {
      width: 100%;
      height: auto;
      justify-content: center;
      align-items: center;
      overflow: hidden;
    }
    .info-img img {
      width: auto;
      height: 100%;
    }
    .feature-parent h1 {
      font-size: 2rem;
    }
    .feature-parent .fff:first-child {
      padding-bottom: 0.5rem;
    }
    .text-div {
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
    .content div {
      margin: 1rem 0;
    }
    .content-img {
      height: 100%;
      width: 85%;
      display: flex;
      justify-content: center;
      align-items: center;
      padding-bottom: 1rem;
    }
    .learn-more {
      flex-direction: column-reverse;
      justify-content: center;
      align-items: center;
    }
    .learn-more h1 {
      width: 100%;
      display: block;
      text-align: center;
      font-size: 2rem;
    }
    .learn-more div:nth-child(2) {
      width: 100%;
      height: auto;
      display: flex;
      justify-content: center;
      align-items: center;
      overflow: hidden;
      padding-top: 2rem;
    }
    .learn-more img {
      width: 60%;
    }
    .learn-more p {
      display: block;
    }
    .skyrocket h1 {
      font-size: 2rem;
      display: block;
    }
    .skyrocket button span:nth-child(1) {
      display: none;
      color: green;
    }
    .skyrocket button span:nth-child(2) {
      display: block;
    }
    .footer {
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 3.5rem 0 2rem;
    }
    .footer p {
      padding: 1rem 0;
    }
    .links a {
      margin: 0 14px;
    }
    .muffins {
      padding: 4rem 0 5rem;
    }
  }
  
 


  /* @media only screen and (max-width: 768px) {

    .parent-container {
        text-align: center;
    }
    .main-container .ocube-navbar:first-child {
        display: none;
      }
      div.mobile-navbar {
        display: flex;
      }
    .text-container h1 {
        font-size: 2.3rem;
        color: red;
      }
      .main-container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
      }
      .main-container p {
        display: block;
        font-size: 17px;
      }
      .image-container {
        padding-top: 0rem;
      }
      .image-container img {
        width: 100%;
        height: 100%;
      }









} */