@media only screen and (max-width: 480px) {
    
h1 {
    font-size: 2rem;
    color: red;
}
.ocube-navbar {
    display: none;
}
.main-container {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

    
}